*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/menu.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*----------------PORTFOLIO--------------*/
.sub-header{
    min-height: 10vh;
    width: 100%;
    text-align: center;
    position: relative;
}
.portfolio{
    color: #000000;
    position: absolute;
    top: 20%;
    justify-content: center;
    text-align: center;
}
.portfolio{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    position: absolute;
}
.portfolio-column{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.portfolio-column img{
    width: 100%;
}
.layer{
    color: #000000;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(109, 104, 104, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.row{
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 16px;
}
.row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------LOPE--------------*/
.sub-header1{
    min-height: 10vh;
    width: 100%;
    text-align: center;
    position: relative;
}
.activities{
    background-image: url(images/menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 120px;
    margin-right: auto;
    width: 70%;
    top: 35%;
    left: 20%;
}
.dp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px; 
    border: 2px solid #5e4747; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
    object-fit: cover; 
    float: left;
}
.text{
    text-align: left;
    margin-left: 170px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: auto;
}
.text h4{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 525;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 15px;
}
.text p{
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    font-style: bold;
}
.period{
    font-family: "Noto Sans", sans-serif;
    font-size: 80px;
    font-style: bold;
    color: #000000;
    text-align: left;
    margin-left: 170px;
    margin-bottom: 100px;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    margin-bottom: 10px;
}
.act-name{
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.act-name h6{
    font-family: "Noto Sans", sans-serif;
    font-size: 60px;
    font-style: bold;
    color: #000000;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
    margin-top: 30px;
    margin-bottom: 10px;
}
.gdrive-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000000;
    padding: 12px 34px;
    font-size: 13px;
    background: white;
    cursor: pointer;
}
.gdrive-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.pdf-view{
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;
}
